.auto-con {
  background:#FFF;
  width:200px;
}
.auto-input {
    padding: 2px;
    width: 194px;
    border:1px solid #BDC7D8;
    font-size:11px;
}
.content-con {
    background: #FFF;
    width: 198px;
    border: 1px solid #000;
    position: absolute;
}
.content-con li {
    list-style-type: none;
    padding-left: 10px;   
}
.content-con li span {
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
}
.content-items {
    padding: 0px;
    margin: 0px;
}
.content-con li.selected, .content-con li.active {
    background:#6D84B4;
    color:#fff;
}