

#contentCon {
  padding:10px;
  background:#FFF;
  width:200px;
  border: 1px solid #333;
}
  #content {
    padding: 0px;
    margin: 4px 0 0;
    overflow: hidden;
    list-style-type: none;
    z-index:500;
  }
.selected, .active {
	background:#6D84B4;
	color:#fff;
}